@import "tailwindcss";

/*removed the global applied css , *{} the margin and pasdding where set up to zero*/
@layer base {
  :root {
    --font-nasalization: var(--font-nasalization);
    --font-tommy-med: var(--font-tommy-medium);
    --font-tommy-bold: var(--font-tommy-bold);
  }
}

@theme {
  --font-nasalization : 'Nasalization', sans-serif;
  --font-tommy-med: 'Tommy Medium', sans-serif;
  --font-tommy-bold: 'Tommy Bold', sans-serif;
} 

