@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-nasalization: "Nasalization", sans-serif;
  --font-tommy-med: "MADETOMMYMedium", sans-serif;
  --font-tommy-bold: "MADETOMMYBold", sans-serif;
}

/* Optional utility classes for quick use */
.font-nasalization {
  font-family: var(--font-nasalization);
}

.font-tommy-med {
  font-family: var(--font-tommy-med);
}

.font-tommy-bold {
  font-family: var(--font-tommy-bold);
}
