@import "tailwindcss";

:root {
  --font-nasalization: var(--font-nasalization);
  --font-tommy-med: var(--font-made-tommy-medium);
  --font-tommy-bold: var(--font-made-tommy-bold);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
